h1{
  position: relative;
  text-align: center;
  color:#000000;
  margin-left: auto;
  margin-right: 0%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 300%;
}

#game_screen{
  min-width: 500px;
  max-width: 600px;
  margin: auto;
}

.choices_btn, .choices_btn:hover{
  outline : none;
  min-width: 400px;
  max-width: 500px;
  padding: 0.5em 1em;
  margin: 2em;
  background: white;
  border: dashed 2px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.choices_btn:hover {
  background-image: -webkit-linear-gradient(top, #dcdcdc, #c0c0c0);
  background-image: linear-gradient(to bottom, #dcdcdc, #c0c0c0);
  color: #ffffff;
  text-shadow: 0px 1px 0px #000000;
}

.choices_btn:active {
  border: dashed 2px #dcdcdc;
}

.flex{
  display: flex;
}
