h1{
  position: relative;
  text-align: center;
  color:#000000;
  margin-left: auto;
  margin-right: 0%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 300%;
}

#game_screen{
  min-width: 500px;
  max-width: 600px;
  margin: auto;
}

#text_timeline{
  text-align: center;
  margin: auto;
  /*border: dashed 2px #5d627b;*/
}

.choices_btn, .choices_btn:hover{
  outline : none;
  min-width: 400px;
  max-width: 500px;
  min-height: 50px;
  padding: 0.5em 1em;
  margin: 2em;
  background: white;
  border: dashed 1px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.choices_btn:hover {
  background-image: -webkit-linear-gradient(top, #dcdcdc, #c0c0c0);
  background-image: linear-gradient(to bottom, #dcdcdc, #c0c0c0);
  color: #ffffff;
  text-shadow: 0px 1px 0px #000000;
}

.choices_btn:active {
  border: dashed 1px #dcdcdc;
}

#tl, #qa{
  min-width: 400px;
  max-width: 500px;
  margin: 3em;
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

#qa{
    background: #ffe6ea;
    box-shadow: 0px 0px 0px 5px #ffe6ea;
}

#tl:after ,#qa:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

#qa:after{
    border-color: #ffc0cb #fff #ffc0cb;
}

#tl p, #qa p{
    margin: 0;
    padding: 0;
}

.flex{
  display: flex;
}
